<a href="https://colab.research.google.com/github/JhonatanWalterSen/spark-in-colab/blob/main/Funciones_en_Spark_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark SQL Avanzado

# Instalación

In [3]:
# Instalar Java 8 scas
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [4]:
# Descargar Spark
!wget -q http://apache.osuosl.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz

In [5]:
# Descomprimir Spart
!tar xf spark-3.3.1-bin-hadoop3.tgz

In [6]:
# Establecer las variables de Entorno
import os 
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [7]:
# Instalar FindSpark en el sistema
!pip install -q findspark

In [8]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark-SQL').master('local[*]').getOrCreate()

In [10]:
sc = spark.sparkContext

In [11]:
spark

# Agregación
- Tratar un DF como un grupo
- Dividir un DT en varios grupos utilizando una o mas columnas y realizar una o mas agregaciones en cada uno de esos grupos
- Dividir un DF en varias ventanas y realizar una media de movil, una suma acumulativa o una clasificación

In [ ]:
import pandas as pd

In [ ]:
dfcsv = pd.read_csv('flights.csv')
dfcsv.to_parquet('vuelos.parquet')

In [ ]:
dfp = spark.read.parquet('vuelos.parquet')

In [ ]:
dfp.printSchema()

root
 |-- YEAR: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- DAY_OF_WEEK: long (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: long (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: long (nullable = true)
 |-- DEPARTURE_TIME: double (nullable = true)
 |-- DEPARTURE_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: double (nullable = true)
 |-- SCHEDULED_TIME: double (nullable = true)
 |-- ELAPSED_TIME: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: long (nullable = true)
 |-- WHEELS_ON: double (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- SCHEDULED_ARRIVAL: long (nullable = true)
 |-- ARRIVAL_TIME: double (nullable = true)
 |-- ARRIVAL_DELAY: double (nullable = true)
 |-- DIVERTED: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: double (nullable = true)
 |-- SECURITY_DELAY: double (nullable = true)
 |-- AIRLINE_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)

In [ ]:
dfp.show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|                  5|        2354.0|          -11.0|    21.0|      15.0|         205.0|       194.0|   169.0|    1448|    404.0|    4.0|              430|       408.0|        -22.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|                 10|           2.0|           -8.0|    12.0|      14.0|         280.0|       279.0|   263.0|    2330|    737.0|    4.0|              750|       741.0|         -9.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|                 20|          18.0|           -2.0|    16.0|      34.0|         286.0|       293.0|   266.0|    2296|    800.0|   11.0|              806|       811.0|          5.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|                 20|          15.0|           -5.0|    15.0|      30.0|         285.0|       281.0|   258.0|    2342|    748.0|    8.0|              805|       756.0|         -9.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|                 25|          24.0|           -1.0|    11.0|      35.0|         235.0|       215.0|   199.0|    1448|    254.0|    5.0|              320|       259.0|        -21.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|                 25|          20.0|           -5.0|    18.0|      38.0|         217.0|       230.0|   206.0|    1589|    604.0|    6.0|              602|       610.0|          8.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|                 25|          19.0|           -6.0|    11.0|      30.0|         181.0|       170.0|   154.0|    1299|    504.0|    5.0|              526|       509.0|        -17.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|                 30|          44.0|           14.0|    13.0|      57.0|         273.0|       249.0|   228.0|    2125|    745.0|    8.0|              803|       753.0|        -10.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|                 30|          19.0|          -11.0|    17.0|      36.0|         195.0|       193.0|   173.0|    1464|    529.0|    3.0|              545|       532.0|        -13.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|                 30|          33.0|            3.0|    12.0|      45.0|         221.0|       203.0|   186.0|    1747|    651.0|    5.0|              711|       656.0|        -15.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2336|     N958DN|           DEN|                ATL|                 30|          24.0|           -6.0|    12.0|      36.0|         173.0|       149.0|   133.0|    1199|    449.0|    4.0|              523|       453.0|        -30.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1674|     N853AA|           LAS|                MIA|                 35|          27.0|           -8.0|    21.0|      48.0|         268.0|       266.0|   238.0|    2174|    746.0|    7.0|              803|       753.0|        -10.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1434|     N547US|           LAX|                MSP|                 35|          35.0|            0.0|    18.0|      53.0|         214.0|       210.0|   188.0|    1535|    601.0|    4.0|              609|       605.0|         -4.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2324|     N3751B|           SLC|                ATL|                 40|          34.0|           -6.0|    18.0|      52.0|         215.0|       199.0|   176.0|    1590|    548.0|    5.0|              615|       553.0|        -22.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2440|     N651DL|           SEA|                MSP|                 40|          39.0|           -1.0|    28.0|     107.0|         189.0|       198.0|   166.0|    1399|    553.0|    4.0|              549|       557.0|          8.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          108|     N309AS|           ANC|                SEA|                 45|          41.0|           -4.0|    17.0|      58.0|         204.0|       194.0|   173.0|    1448|    451.0|    4.0|              509|       455.0|        -14.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1560|     N3743H|           ANC|                SEA|                 45|          31.0|          -14.0|    25.0|      56.0|         210.0|       200.0|   171.0|    1448|    447.0|    4.0|              515|       451.0|        -24.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     UA|         1197|     N78448|           SFO|                IAH|                 48|          42.0|           -6.0|    11.0|      53.0|         218.0|       217.0|   199.0|    1635|    612.0|    7.0|              626|       619.0|         -7.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          122|     N413AS|           ANC|                PDX|                 50|          46.0|           -4.0|    11.0|      57.0|         215.0|       201.0|   187.0|    1542|    504.0|    3.0|              525|       507.0|        -18.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1670|     N806DN|           PDX|                MSP|                 50|          45.0|           -5.0|     9.0|      54.0|         193.0|       186.0|   171.0|    1426|    545.0|    6.0|              603|       551.0|        -12.0|     0.0|      0.0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 20 rows

In [ ]:
dataframe = spark.read.parquet('dataframe.parquet')

In [ ]:
dataframe.printSchema()

root
 |-- nombre: string (nullable = true)
 |-- color: string (nullable = true)
 |-- cantidad: long (nullable = true)

In [ ]:
dataframe.show()

+------+-----+--------+
|nombre|color|cantidad|
+------+-----+--------+
|  Jose| azul|    1900|
|  null| null|    1700|
|  null| rojo|    1300|
|  Juan| rojo|    1500|
+------+-----+--------+

# Count
conteo la cantidad de elementos de un grupo

In [12]:
#count
from pyspark.sql.functions import count

In [ ]:
dataframe.select(
    count('nombre').alias('conteno_nombre'),
    count('color').alias('conteno_colores')
).show()

+--------------+---------------+
|conteno_nombre|conteno_colores|
+--------------+---------------+
|             2|              3|
+--------------+---------------+

In [ ]:
#Todos los registros
dataframe.select(
    count('nombre').alias('conteno_nombre'),
    count('color').alias('conteno_colores'),
    count('*').alias('conteo_general_filas')
).show()

+--------------+---------------+--------------------+
|conteno_nombre|conteno_colores|conteo_general_filas|
+--------------+---------------+--------------------+
|             2|              3|                   4|
+--------------+---------------+--------------------+

# CounDistinct
 omite nulos, cuenta los valores diferentes

In [ ]:
#countDistinct
from pyspark.sql.functions import countDistinct
dataframe.select(
    countDistinct('color').alias('colores diferentes')
).show()

+------------------+
|colores diferentes|
+------------------+
|                 2|
+------------------+

# ApproxCountDistinct

In [ ]:
#approxCountDistinct
from pyspark.sql.functions import approxCountDistinct

In [ ]:
df_vuelos = spark.read.parquet('vuelos.parquet')

In [ ]:
df_vuelos.printSchema()

root
 |-- YEAR: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- DAY_OF_WEEK: long (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: long (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: long (nullable = true)
 |-- DEPARTURE_TIME: double (nullable = true)
 |-- DEPARTURE_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: double (nullable = true)
 |-- SCHEDULED_TIME: double (nullable = true)
 |-- ELAPSED_TIME: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: long (nullable = true)
 |-- WHEELS_ON: double (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- SCHEDULED_ARRIVAL: long (nullable = true)
 |-- ARRIVAL_TIME: double (nullable = true)
 |-- ARRIVAL_DELAY: double (nullable = true)
 |-- DIVERTED: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: double (nullable = true)
 |-- SECURITY_DELAY: double (nullable = true)
 |-- AIRLINE_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)

In [ ]:
df_vuelos.select(
    countDistinct('AIRLINE'),
    approxCountDistinct('AIRLINE')
).show()

/content/spark-3.3.1-bin-hadoop3/python/pyspark/sql/functions.py:1075: FutureWarning: Deprecated in 2.1, use approx_count_distinct instead.
  warnings.warn("Deprecated in 2.1, use approx_count_distinct instead.", FutureWarning)

+-----------------------+------------------------------+
|count(DISTINCT AIRLINE)|approx_count_distinct(AIRLINE)|
+-----------------------+------------------------------+
|                     14|                            13|
+-----------------------+------------------------------+

# Funciones Min y Max

In [13]:
from pyspark.sql.functions import min, max, col

In [ ]:
df_vuelos.select(
    min('AIR_TIME').alias('Menor tiempo'),
    max('AIR_TIME').alias('Mayor tiempo')
).show()

+------------+------------+
|Menor tiempo|Mayor tiempo|
+------------+------------+
|         7.0|       690.0|
+------------+------------+

In [ ]:
df_vuelos.select(
    min('AIRLINE_DELAY'),
    max('AIRLINE_DELAY')
).show()

+------------------+------------------+
|min(AIRLINE_DELAY)|max(AIRLINE_DELAY)|
+------------------+------------------+
|               0.0|            1971.0|
+------------------+------------------+

# Funciones Sum, SumDistinct y Avg

In [14]:
from pyspark.sql.functions import sum, sumDistinct, avg, count

In [ ]:
#sum
df_vuelos.printSchema()

root
 |-- YEAR: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- DAY_OF_WEEK: long (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: long (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: long (nullable = true)
 |-- DEPARTURE_TIME: double (nullable = true)
 |-- DEPARTURE_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: double (nullable = true)
 |-- SCHEDULED_TIME: double (nullable = true)
 |-- ELAPSED_TIME: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: long (nullable = true)
 |-- WHEELS_ON: double (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- SCHEDULED_ARRIVAL: long (nullable = true)
 |-- ARRIVAL_TIME: double (nullable = true)
 |-- ARRIVAL_DELAY: double (nullable = true)
 |-- DIVERTED: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: double (nullable = true)
 |-- SECURITY_DELAY: double (nullable = true)
 |-- AIRLINE_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)

In [ ]:
df_vuelos.select(
    sum('DISTANCE').alias('Suma Distancia')
).show()

+--------------+
|Suma Distancia|
+--------------+
|    1598473359|
+--------------+

In [ ]:
#sumDistinct
#suma los valores distintos de la columna
df_vuelos.select(
    sumDistinct('DISTANCE').alias('Suma Distancia')
).show()

/content/spark-3.3.1-bin-hadoop3/python/pyspark/sql/functions.py:316: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

+--------------+
|Suma Distancia|
+--------------+
|       1343917|
+--------------+

In [ ]:
#AVG
#Toma el total
df_vuelos.select(
    avg('AIR_TIME').alias('promedio_aire'),
    (sum('AIR_TIME') / count('AIR_TIME')).alias('Promedio manual')
).show()

+------------------+------------------+
|     promedio_aire|   Promedio manual|
+------------------+------------------+
|113.13239383807768|113.13239383807768|
+------------------+------------------+

# Agregación con Agrupación

In [ ]:
df_vuelos.printSchema()

root
 |-- YEAR: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- DAY_OF_WEEK: long (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: long (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: long (nullable = true)
 |-- DEPARTURE_TIME: double (nullable = true)
 |-- DEPARTURE_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: double (nullable = true)
 |-- SCHEDULED_TIME: double (nullable = true)
 |-- ELAPSED_TIME: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: long (nullable = true)
 |-- WHEELS_ON: double (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- SCHEDULED_ARRIVAL: long (nullable = true)
 |-- ARRIVAL_TIME: double (nullable = true)
 |-- ARRIVAL_DELAY: double (nullable = true)
 |-- DIVERTED: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: double (nullable = true)
 |-- SECURITY_DELAY: double (nullable = true)
 |-- AIRLINE_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)

In [15]:
from pyspark.sql.functions import desc

In [ ]:
(df_vuelos.groupBy('ORIGIN_AIRPORT')
  .count()
  .orderBy(desc('count'))
).show()

+--------------+------+
|ORIGIN_AIRPORT| count|
+--------------+------+
|           ATL|126478|
|           ORD|101749|
|           DFW| 92840|
|           DEN| 71843|
|           LAX| 71626|
|           PHX| 55655|
|           IAH| 55466|
|           SFO| 53189|
|           LAS| 48859|
|           MCO| 42877|
|           DTW| 40338|
|           LGA| 39728|
|           BOS| 38938|
|           MSP| 38847|
|           CLT| 37437|
|           EWR| 37330|
|           SEA| 36372|
|           SLC| 36313|
|           JFK| 35151|
|           BWI| 30209|
+--------------+------+
only showing top 20 rows

In [ ]:
(df_vuelos.groupBy('ORIGIN_AIRPORT','DESTINATION_AIRPORT')
  .count()
  .orderBy(desc('count'))
).show()

+--------------+-------------------+-----+
|ORIGIN_AIRPORT|DESTINATION_AIRPORT|count|
+--------------+-------------------+-----+
|           JFK|                LAX| 4617|
|           LAX|                JFK| 4616|
|           SFO|                LAX| 4614|
|           LAX|                SFO| 4512|
|           LAS|                LAX| 3771|
|           LAX|                LAS| 3649|
|           LGA|                ORD| 3615|
|           ORD|                LGA| 3593|
|           HNL|                OGG| 3193|
|           OGG|                HNL| 3191|
|           SFO|                JFK| 3123|
|           JFK|                SFO| 3120|
|           BOS|                LGA| 3072|
|           LGA|                BOS| 3068|
|           ATL|                LGA| 3067|
|           LGA|                ATL| 3055|
|           MCO|                ATL| 2983|
|           ATL|                MCO| 2977|
|           DCA|                BOS| 2941|
|           SFO|                LAS| 2941|
+--------------+-------------------+-----+
only showing top 20 rows

# Agregacion por grupo

In [ ]:
df_vuelos.groupBy('ORIGIN_AIRPORT').agg(
    count('AIR_TIME').alias('tiempo_aire'),
    min('AIR_TIME').alias('minimo'),
    max('AIR_TIME').alias('máximo')
).orderBy(desc('tiempo_aire')).show()

+--------------+-----------+------+------+
|ORIGIN_AIRPORT|tiempo_aire|minimo|máximo|
+--------------+-----------+------+------+
|           ATL|     124621|  15.0| 614.0|
|           ORD|      97422|  14.0| 571.0|
|           DFW|      88594|  12.0| 534.0|
|           DEN|      70703|  13.0| 493.0|
|           LAX|      70574|  16.0| 409.0|
|           PHX|      55164|  19.0| 444.0|
|           IAH|      54499|  17.0| 512.0|
|           SFO|      52120|  13.0| 389.0|
|           LAS|      48365|  28.0| 429.0|
|           MCO|      42082|  31.0| 392.0|
|           DTW|      39491|  16.0| 332.0|
|           MSP|      38366|  15.0| 383.0|
|           LGA|      36706|  19.0| 311.0|
|           BOS|      36695|  34.0| 432.0|
|           CLT|      36625|  21.0| 364.0|
|           SEA|      36094|  17.0| 412.0|
|           SLC|      36026|  18.0| 419.0|
|           EWR|      35314|  22.0| 683.0|
|           JFK|      33617|  30.0| 690.0|
|           BWI|      29278|  19.0| 396.0|
+--------------+-----------+------+------+
only showing top 20 rows

In [ ]:
# por el mes agrupar
# vuelos que arribaron que estan retrazao promedio de distancia
df_vuelos.groupBy('MONTH').agg(
    count('ARRIVAL_DELAY').alias('conteo_retrasado'),
    avg('DISTANCE').alias('promedio distancia')
).orderBy(desc('conteo_retrasado')).show()

+-----+----------------+------------------+
|MONTH|conteo_retrasado|promedio distancia|
+-----+----------------+------------------+
|    3|          492138| 816.0553268611494|
|    4|          479251| 817.0060476016745|
|    1|          457013| 803.2612794913696|
|    2|          407663|  800.785449834689|
|    5|           84114| 818.8828557598083|
+-----+----------------+------------------+

# Agregación por Pivote

In [ ]:
estudiantes = spark.read.parquet('./estudiantes.parquet')
estudiantes.show()

+------+----+----+----------+
|nombre|sexo|peso|graduacion|
+------+----+----+----------+
|  Jose|   M|  80|      2000|
| Hilda|   F|  50|      2000|
|  Juan|   M|  75|      2000|
| Pedro|   M|  76|      2001|
|Katia+|   F|  65|      2001|
+------+----+----+----------+

In [ ]:
estudiantes.groupBy('graduacion').pivot('sexo').agg(
  avg('peso')   
).show()

+----------+----+----+
|graduacion|   F|   M|
+----------+----+----+
|      2001|65.0|76.0|
|      2000|50.0|77.5|
+----------+----+----+

In [ ]:
estudiantes.groupBy('graduacion').pivot('sexo').agg(
  avg('peso'),
  min('peso'),
  max('peso')
).show()

+----------+-----------+-----------+-----------+-----------+-----------+-----------+
|graduacion|F_avg(peso)|F_min(peso)|F_max(peso)|M_avg(peso)|M_min(peso)|M_max(peso)|
+----------+-----------+-----------+-----------+-----------+-----------+-----------+
|      2001|       65.0|         65|         65|       76.0|         76|         76|
|      2000|       50.0|         50|         50|       77.5|         75|         80|
+----------+-----------+-----------+-----------+-----------+-----------+-----------+

In [ ]:
estudiantes.groupBy('graduacion').pivot('sexo',['M']).agg(
  avg('peso'),
  min('peso'),
  max('peso')
).show()

+----------+-----------+-----------+-----------+
|graduacion|M_avg(peso)|M_min(peso)|M_max(peso)|
+----------+-----------+-----------+-----------+
|      2001|       76.0|         76|         76|
|      2000|       77.5|         75|         80|
+----------+-----------+-----------+-----------+

# Joins

## Inner Join

In [ ]:
empleados = spark.read.parquet('./data-join/empleados')
departamentos = spark.read.parquet('./data-join/departamentos')

In [ ]:
empleados.show()

+------+--------+
|nombre|num_dpto|
+------+--------+
|  Luis|      33|
| Katia|      33|
|  Raul|      34|
| Pedro|       0|
| Laura|      34|
|Sandro|      31|
+------+--------+

In [ ]:
departamentos.show()

+---+-----------+
| id|nombre_dpto|
+---+-----------+
| 31|     letras|
| 33|    derecho|
| 34| matemática|
| 35|informática|
+---+-----------+

Inner join

In [ ]:
join_df = empleados.join(departamentos, col('num_dpto') == col('id'))

join_df.show()

+------+--------+---+-----------+
|nombre|num_dpto| id|nombre_dpto|
+------+--------+---+-----------+
|  Luis|      33| 33|    derecho|
| Katia|      33| 33|    derecho|
|  Raul|      34| 34| matemática|
| Laura|      34| 34| matemática|
|Sandro|      31| 31|     letras|
+------+--------+---+-----------+

In [ ]:
join_df = empleados.join(departamentos, col('num_dpto') == col('id'), 'inner')

join_df.show()

+------+--------+---+-----------+
|nombre|num_dpto| id|nombre_dpto|
+------+--------+---+-----------+
|  Luis|      33| 33|    derecho|
| Katia|      33| 33|    derecho|
|  Raul|      34| 34| matemática|
| Laura|      34| 34| matemática|
|Sandro|      31| 31|     letras|
+------+--------+---+-----------+

In [ ]:
join_df = empleados.join(departamentos).where(col('num_dpto') == col('id'))

join_df.show()

+------+--------+---+-----------+
|nombre|num_dpto| id|nombre_dpto|
+------+--------+---+-----------+
|  Luis|      33| 33|    derecho|
| Katia|      33| 33|    derecho|
|  Raul|      34| 34| matemática|
| Laura|      34| 34| matemática|
|Sandro|      31| 31|     letras|
+------+--------+---+-----------+

## Left Outer Join

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'), 'leftouter').show()

+------+--------+----+-----------+
|nombre|num_dpto|  id|nombre_dpto|
+------+--------+----+-----------+
|  Luis|      33|  33|    derecho|
| Katia|      33|  33|    derecho|
|  Raul|      34|  34| matemática|
| Pedro|       0|null|       null|
| Laura|      34|  34| matemática|
|Sandro|      31|  31|     letras|
+------+--------+----+-----------+

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'), 'left_outer').show()

+------+--------+----+-----------+
|nombre|num_dpto|  id|nombre_dpto|
+------+--------+----+-----------+
|  Luis|      33|  33|    derecho|
| Katia|      33|  33|    derecho|
|  Raul|      34|  34| matemática|
| Pedro|       0|null|       null|
| Laura|      34|  34| matemática|
|Sandro|      31|  31|     letras|
+------+--------+----+-----------+

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'), 'left').show()

+------+--------+----+-----------+
|nombre|num_dpto|  id|nombre_dpto|
+------+--------+----+-----------+
|  Luis|      33|  33|    derecho|
| Katia|      33|  33|    derecho|
|  Raul|      34|  34| matemática|
| Pedro|       0|null|       null|
| Laura|      34|  34| matemática|
|Sandro|      31|  31|     letras|
+------+--------+----+-----------+

## Right Outer Join

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'), 'rightouter').show()

+------+--------+---+-----------+
|nombre|num_dpto| id|nombre_dpto|
+------+--------+---+-----------+
|Sandro|      31| 31|     letras|
| Katia|      33| 33|    derecho|
|  Luis|      33| 33|    derecho|
| Laura|      34| 34| matemática|
|  Raul|      34| 34| matemática|
|  null|    null| 35|informática|
+------+--------+---+-----------+

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'), 'right_outer').show()

+------+--------+---+-----------+
|nombre|num_dpto| id|nombre_dpto|
+------+--------+---+-----------+
|Sandro|      31| 31|     letras|
| Katia|      33| 33|    derecho|
|  Luis|      33| 33|    derecho|
| Laura|      34| 34| matemática|
|  Raul|      34| 34| matemática|
|  null|    null| 35|informática|
+------+--------+---+-----------+

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'), 'right').show()

+------+--------+---+-----------+
|nombre|num_dpto| id|nombre_dpto|
+------+--------+---+-----------+
|Sandro|      31| 31|     letras|
| Katia|      33| 33|    derecho|
|  Luis|      33| 33|    derecho|
| Laura|      34| 34| matemática|
|  Raul|      34| 34| matemática|
|  null|    null| 35|informática|
+------+--------+---+-----------+

## Full Outer Join

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'), 'outer').show()

+------+--------+----+-----------+
|nombre|num_dpto|  id|nombre_dpto|
+------+--------+----+-----------+
| Pedro|       0|null|       null|
|Sandro|      31|  31|     letras|
|  Luis|      33|  33|    derecho|
| Katia|      33|  33|    derecho|
|  Raul|      34|  34| matemática|
| Laura|      34|  34| matemática|
|  null|    null|  35|informática|
+------+--------+----+-----------+

## Left Anti Join

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'),'left_anti').show()
#que empleados no estan asignados a un departamento

+------+--------+
|nombre|num_dpto|
+------+--------+
| Pedro|       0|
+------+--------+

In [ ]:
departamentos.join(empleados, col('num_dpto') == col('id'),'left_anti').show()
#departamentod e informatica no está asignado a ningún trabajador

+---+-----------+
| id|nombre_dpto|
+---+-----------+
| 35|informática|
+---+-----------+

## Left Semi Join

In [ ]:
empleados.join(departamentos, col('num_dpto') == col('id'), 'left_semi').show()

+------+--------+
|nombre|num_dpto|
+------+--------+
|  Luis|      33|
| Katia|      33|
|  Raul|      34|
| Laura|      34|
|Sandro|      31|
+------+--------+

## Cross Join

In [ ]:
dfcj=empleados.crossJoin(departamentos)

In [ ]:
dfcj.show()
#multiplica las filas = empleados(6) x departamentos(4)

+------+--------+---+-----------+
|nombre|num_dpto| id|nombre_dpto|
+------+--------+---+-----------+
|  Luis|      33| 31|     letras|
|  Luis|      33| 33|    derecho|
|  Luis|      33| 34| matemática|
|  Luis|      33| 35|informática|
| Katia|      33| 31|     letras|
| Katia|      33| 33|    derecho|
| Katia|      33| 34| matemática|
| Katia|      33| 35|informática|
|  Raul|      34| 31|     letras|
|  Raul|      34| 33|    derecho|
|  Raul|      34| 34| matemática|
|  Raul|      34| 35|informática|
| Pedro|       0| 31|     letras|
| Pedro|       0| 33|    derecho|
| Pedro|       0| 34| matemática|
| Pedro|       0| 35|informática|
| Laura|      34| 31|     letras|
| Laura|      34| 33|    derecho|
| Laura|      34| 34| matemática|
| Laura|      34| 35|informática|
+------+--------+---+-----------+
only showing top 20 rows

## Manejo de Columna duplicados

In [ ]:
depa = departamentos.withColumn('num_dpto', col('id'))

In [ ]:
depa.printSchema()
empleados.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre_dpto: string (nullable = true)
 |-- num_dpto: long (nullable = true)

root
 |-- nombre: string (nullable = true)
 |-- num_dpto: long (nullable = true)

In [ ]:
df_duplicados = empleados.join(depa, empleados['num_dpto'] == depa['num_dpto'])

In [ ]:
df_duplicados.printSchema()

root
 |-- nombre: string (nullable = true)
 |-- num_dpto: long (nullable = true)
 |-- id: long (nullable = true)
 |-- nombre_dpto: string (nullable = true)
 |-- num_dpto: long (nullable = true)

In [ ]:
df_duplicados.select(empleados['num_dpto']).show()

+--------+
|num_dpto|
+--------+
|      33|
|      33|
|      34|
|      34|
|      31|
+--------+

In [ ]:
df2 = empleados.join(depa,'num_dpto')
df2.printSchema()

root
 |-- num_dpto: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- id: long (nullable = true)
 |-- nombre_dpto: string (nullable = true)

## Shuffle Has Join y Broadcast Hash Join

In [ ]:
from pyspark.sql.functions import broadcast

In [ ]:
empleados.join(broadcast(departamentos), col('num_dpto') == col('id')).show()

+------+--------+---+-----------+
|nombre|num_dpto| id|nombre_dpto|
+------+--------+---+-----------+
|  Luis|      33| 33|    derecho|
| Katia|      33| 33|    derecho|
|  Raul|      34| 34| matemática|
| Laura|      34| 34| matemática|
|Sandro|      31| 31|     letras|
+------+--------+---+-----------+

In [ ]:
empleados.join(broadcast(departamentos), col('num_dpto') == col('id')).explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- BroadcastHashJoin [num_dpto#5151L], [id#5154L], Inner, BuildRight, false
   :- Filter isnotnull(num_dpto#5151L)
   :  +- FileScan parquet [nombre#5150,num_dpto#5151L] Batched: true, DataFilters: [isnotnull(num_dpto#5151L)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/content/data-join/empleados], PartitionFilters: [], PushedFilters: [IsNotNull(num_dpto)], ReadSchema: struct<nombre:string,num_dpto:bigint>
   +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, bigint, false]),false), [plan_id=3548]
      +- Filter isnotnull(id#5154L)
         +- FileScan parquet [id#5154L,nombre_dpto#5155] Batched: true, DataFilters: [isnotnull(id#5154L)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/content/data-join/departamentos], PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:bigint,nombre_dpto:string>

# Ejercicios

Los datos adjuntos a esta lección forman parte de la base de datos Football Data from Transfermarkt de Kaggle. El conjunto de datos se compone de varios archivos CSV con información sobre competiciones, juegos, clubes, jugadores y apariciones.

1. Determine los tres países con mayor número de jugadores(jugadores nacidos en ese país). El resultado debe estar ordenado de forma descendente.

2. Obtenga la lista de jugadores con tarjeta roja. La salida debe contener dos columnas, el nombre de pila del jugador y la cantidad de tarjetas rojas que tiene.

3. ¿Cuántos juegos se jugaron en la Premier League? La salida debe contener dos columnas, el nombre de la liga y la cantidad de juegos que se jugaron en ella.

4. Obtenga las tres ligas con mayor número de asistencia de público teniendo en cuenta todos los juegos que se jugaron en ellas. El resultado debe estar ordenado de forma descendente y tener dos columnas, el nombre de la liga y la asistencia total.

In [16]:
#1
jugadores = spark.read.option('header',True).option('interSchema','true').csv('./players.csv')
jugadores.show()

+---------+---------------+--------------------+--------------------+----------------+----------------------+-------------+----------+------------------+-----+------------+-------------------+---------------------------+--------------------+
|player_id|current_club_id|                name|         pretty_name|country_of_birth|country_of_citizenship|date_of_birth|  position|      sub_position| foot|height_in_cm|market_value_in_gbp|highest_market_value_in_gbp|                 url|
+---------+---------------+--------------------+--------------------+----------------+----------------------+-------------+----------+------------------+-----+------------+-------------------+---------------------------+--------------------+
|    38790|          28095|      dmitri-golubov|      Dmitri Golubov|           UdSSR|                Russia|   1985-06-24|    Attack|    Centre-Forward| Both|         178|               null|                   675000.0|https://www.trans...|
|   106539|          28095|  aleksandr-vasiljev|  Aleksandr Vasiljev|          Russia|                Russia|   1992-01-23|    Attack|      Right Winger|Right|         182|               null|                   225000.0|https://www.trans...|
|   164389|           2288|       rory-donnelly|       Rory Donnelly|Northern Ireland|      Northern Ireland|   1992-02-18|    Attack|    Centre-Forward|Right|         188|           113000.0|                   225000.0|https://www.trans...|
|    45247|           1162|      damien-perquis|      Damien Perquis|          France|                France|   1986-03-08|Goalkeeper|        Goalkeeper|Right|         186|               null|                   900000.0|https://www.trans...|
|    97205|          28095| nikita-bezlikhotnov| Nikita Bezlikhotnov|           UdSSR|                Russia|   1990-08-19|    Attack|      Right Winger|Right|         179|               null|                   675000.0|https://www.trans...|
|    14962|           1177|         jesper-bech|         Jesper Bech|            null|               Denmark|   1982-05-25|  Midfield|  Central Midfield| Left|         177|               null|                  1130000.0|https://www.trans...|
|   202836|             24|       yaffa-yusupha|       Yaffa Yusupha|      The Gambia|            The Gambia|   1996-12-31|    Attack|    Centre-Forward| null|           0|               null|                    90000.0|https://www.trans...|
|    40027|           5818|       ruben-nygaard|       Ruben Nygaard|            null|               Denmark|   1986-05-25|    Attack|      Right Winger|Right|         175|               null|                   180000.0|https://www.trans...|
|    62065|           5818|        dennis-hoegh|        Dennis Hoegh|         Denmark|               Denmark|   1989-02-21|  Midfield|Attacking Midfield|Right|         184|               null|                   225000.0|https://www.trans...|
|   203899|            403|         stijn-derkx|         Stijn Derkx|     Netherlands|           Netherlands|   1995-02-03|    Attack|    Centre-Forward|Right|         182|               null|                    45000.0|https://www.trans...|
|    48897|           1177|         ade-runsewe|         Ade Runsewe|            null|               Nigeria|   1989-12-01|    Attack|      Right Winger|Right|         176|               null|                   315000.0|https://www.trans...|
|    23367|            862|       alessio-sestu|       Alessio Sestu|           Italy|                 Italy|   1983-09-29|    Attack|      Right Winger|Right|         177|               null|                   720000.0|https://www.trans...|
|   107958|            862|      nicola-bellomo|      Nicola Bellomo|           Italy|                 Italy|   1991-02-18|  Midfield|Attacking Midfield|Right|         174|               null|                  1620000.0|https://www.trans...|
|   103110|           5818| frederik-hammershoj| Frederik Hammershoj|            null|               Denmark|   1987-06-15|  Midfield|  Central Midfield| Left|           0|               null|                   135000.0|https://www.trans...|
|    45185|            862|       tomasz-kupisz|       Tomasz Kupisz|          Poland|                Poland|   1990-01-02|  Midfield|    Right Midfield|Right|         180|               null|                   900000.0|https://www.trans...|
|   334723|            800|       nicolas-napol|       Nicolas Napol|          France|               Belgium|   1996-04-03|    Attack|    Centre-Forward|Right|         186|               null|                    68000.0|https://www.trans...|
|   176130|            800|     lorenzo-rosseti|     Lorenzo Rosseti|           Italy|                 Italy|   1994-08-05|    Attack|    Centre-Forward|Right|         182|               null|                  1080000.0|https://www.trans...|
|    47769|           1177|    bjarni-vidarsson|    Bjarni Vidarsson|         Iceland|               Iceland|   1988-03-05|  Midfield|  Central Midfield| Both|         187|               null|                   900000.0|https://www.trans...|
|    20726|            800|     rolando-bianchi|     Rolando Bianchi|           Italy|                 Italy|   1983-02-15|    Attack|    Centre-Forward|Right|         188|               null|                 11700000.0|https://www.trans...|
|   287631|            276|pierluigi-cappell...|Pierluigi Cappell...|           Italy|                 Italy|   1996-06-09|    Attack|    Centre-Forward| Left|         186|               null|                   270000.0|https://www.trans...|
+---------+---------------+--------------------+--------------------+----------------+----------------------+-------------+----------+------------------+-----+------------+-------------------+---------------------------+--------------------+
only showing top 20 rows

In [ ]:
jugadores.printSchema()

root
 |-- player_id: string (nullable = true)
 |-- current_club_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- pretty_name: string (nullable = true)
 |-- country_of_birth: string (nullable = true)
 |-- country_of_citizenship: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- position: string (nullable = true)
 |-- sub_position: string (nullable = true)
 |-- foot: string (nullable = true)
 |-- height_in_cm: string (nullable = true)
 |-- market_value_in_gbp: string (nullable = true)
 |-- highest_market_value_in_gbp: string (nullable = true)
 |-- url: string (nullable = true)

In [ ]:
#Mi solución
(jugadores.groupBy('country_of_birth')
    .count()
    .orderBy(desc('count'))
    .filter(col('country_of_birth') != 'null')
).show(3)

+----------------+-----+
|country_of_birth|count|
+----------------+-----+
|          France| 1694|
|           Spain| 1388|
|           Italy| 1312|
+----------------+-----+
only showing top 3 rows

In [ ]:
#Solución 1
jugadores.groupBy('country_of_birth').count().orderBy(desc('count')).filter(col('country_of_birth').isNotNull()).limit(3).show()

+----------------+-----+
|country_of_birth|count|
+----------------+-----+
|          France| 1694|
|           Spain| 1388|
|           Italy| 1312|
+----------------+-----+

In [17]:
juegos = spark.read.option('header',True).option('interSchema','true').csv('./games.csv')
competicion = spark.read.option('header',True).option('interSchema','true').csv('./competitions.csv')
apariciones = spark.read.option('header',True).option('interSchema','true').csv('./appearances.csv')

In [ ]:
apariciones.show()

+---------+-------+-------------+--------------+--------------+-----+-------+--------------+------------+---------+
|player_id|game_id|appearance_id|competition_id|player_club_id|goals|assists|minutes_played|yellow_cards|red_cards|
+---------+-------+-------------+--------------+--------------+-----+-------+--------------+------------+---------+
|    52453|2483937|2483937_52453|           RU1|         28095|    0|      0|            90|           0|        0|
|    67064|2479929|2479929_67064|           RU1|         28095|    0|      0|            90|           0|        0|
|    67064|2483937|2483937_67064|           RU1|         28095|    0|      0|            90|           0|        0|
|    67064|2484582|2484582_67064|           RU1|         28095|    0|      0|            55|           0|        0|
|    67064|2485965|2485965_67064|           RU1|         28095|    0|      0|            90|           0|        0|
|    67064|2487345|2487345_67064|           RU1|         28095|    0|      0|            90|           1|        0|
|    67064|2498464|2498464_67064|           RU1|         28095|    0|      0|            90|           0|        0|
|    67064|2500260|2500260_67064|           RU1|         28095|    0|      1|            19|           0|        0|
|    67064|2506733|2506733_67064|           RU1|         28095|    1|      0|            90|           1|        0|
|    67064|2508366|2508366_67064|           RU1|         28095|    0|      0|             2|           0|        0|
|    67064|2493717|2493717_67064|           RUP|         28095|    0|      0|            65|           0|        0|
|    98558|2498464|2498464_98558|           RU1|         28095|    0|      0|            90|           0|        0|
|    36227|2479927|2479927_36227|           RU1|          1186|    0|      0|            45|           1|        0|
|    52453|2484582|2484582_52453|           RU1|         28095|    0|      0|            90|           0|        0|
|    52453|2485965|2485965_52453|           RU1|         28095|    0|      0|            45|           0|        0|
|    52453|2487345|2487345_52453|           RU1|         28095|    0|      0|            53|           0|        0|
|    52453|2489341|2489341_52453|           RU1|         28095|    0|      0|            35|           0|        0|
|    52453|2493788|2493788_52453|           RU1|         28095|    0|      1|            65|           0|        0|
|    52453|2498464|2498464_52453|           RU1|         28095|    0|      0|            19|           0|        0|
|    52453|2500260|2500260_52453|           RU1|         28095|    1|      0|            86|           0|        0|
+---------+-------+-------------+--------------+--------------+-----+-------+--------------+------------+---------+
only showing top 20 rows

In [18]:
#2
ejercicio2 = apariciones.join(jugadores, ['player_id'],'left')

In [25]:
(ejercicio2.filter(col('red_cards') > 0).select(col('pretty_name'),col('red_cards')).groupBy('pretty_name').count().orderBy(desc('count'))).show()

+--------------------+-----+
|         pretty_name|count|
+--------------------+-----+
|         Bruno Alves|    2|
|   Vangelis Mantzios|    2|
|         Ivan Ordets|    2|
|  Vyacheslav Checher|    2|
| Federico Piovaccari|    2|
|      Nicolaj Madsen|    2|
|       Kyle Naughton|    2|
|        Murat Ceylan|    2|
|               Zanka|    2|
|                Zito|    2|
|       Alvaro Morata|    2|
|         Caner Erkin|    2|
|        Mikael Ishak|    2|
|  Federico Marchetti|    2|
|Konstantinos Manolas|    2|
|     Marvin Peersman|    2|
|        Dougie Imrie|    2|
|        Pedro Franco|    2|
|      Rafael Marquez|    2|
|Dimitrios Chatzii...|    1|
+--------------------+-----+
only showing top 20 rows

In [26]:
#3
juegos.show()

+-------+----------------+------+-------------+----------+------------+------------+---------------+---------------+------------------+------------------+--------------------+----------+--------------------+--------------------+
|game_id|competition_code|season|        round|      date|home_club_id|away_club_id|home_club_goals|away_club_goals|home_club_position|away_club_position|             stadium|attendance|             referee|                 url|
+-------+----------------+------+-------------+----------+------------+------------+---------------+---------------+------------------+------------------+--------------------+----------+--------------------+--------------------+
|2457642|            NLSC|  2014|        Final|2014-08-03|        1269|         610|              1|              0|              null|              null| Johan Cruijff ArenA|     42000|      Danny Makkelie|https://www.trans...|
|2639088|            BESC|  2013|        Final|2014-07-20|          58|         498|              2|              1|              null|              null|Constant Vanden S...|     13733|     Jonathan Lardot|https://www.trans...|
|2481145|             SUC|  2014|final 1st leg|2014-08-19|         418|          13|              1|              1|              null|              null|   Santiago Bernabéu|     75897|   Estrada Fernández|https://www.trans...|
|2484338|            POSU|  2014|        Final|2014-08-10|         294|        2425|              3|              2|              null|              null|Estádio Municipal...|     30000|        Duarte Gomes|https://www.trans...|
|2502472|            FRCH|  2014|        Final|2014-08-02|         583|         855|              2|              0|              null|              null|     Workers Stadium|     39752|      Clément Turpin|https://www.trans...|
|2459774|             NL1|  2014| 21. Matchday|2015-02-05|         610|        1090|              0|              1|                 2|                 5| Johan Cruijff ArenA|     47724|      Pol van Boekel|https://www.trans...|
|2480169|             PO1|  2014| 16. Matchday|2015-01-11|        2425|        1301|              0|              0|                 6|                10|   Estádio dos Arcos|      2230|       Tiago Martins|https://www.trans...|
|2490887|             PO1|  2014| 20. Matchday|2015-02-08|        1085|        2990|              0|              0|                14|                16|   Estádio do Bonfim|      3500|     Fábio Veríssimo|https://www.trans...|
|2498723|             PO1|  2014| 22. Matchday|2015-02-21|        1085|        3327|              0|              1|                15|                18|   Estádio do Bonfim|      2108|       Rui Rodrigues|https://www.trans...|
|2479542|            POCP|  2014|      Group C|2014-08-13|        3345|        4750|              0|              0|              null|              null|      Estádio do Mar|       448|       Jorge Tavares|https://www.trans...|
|2460640|              L1|  2014|  2. Matchday|2014-08-30|          86|         533|              1|              1|                 9|                 3|Wohninvest-Wesers...|     38900|     Robert Hartmann|https://www.trans...|
|2460300|             GB1|  2014|  1. Matchday|2014-08-16|         985|        2288|              1|              2|                15|                 5|        Old Trafford|     75339|           Mike Dean|https://www.trans...|
|2486545|             GB1|  2014|  8. Matchday|2014-10-18|         180|         289|              8|              0|                 3|                17|   St Mary's Stadium|     29615|      Andre Marriner|https://www.trans...|
|2486598|             GB1|  2014| 13. Matchday|2014-11-30|         148|          29|              2|              1|                 7|                10|     White Hart Lane|     35901|      Michael Oliver|https://www.trans...|
|2486692|             GB1|  2014| 23. Matchday|2015-01-31|        3008|         762|              0|              3|                18|                11|        KCOM Stadium|     23925|           Phil Dowd|https://www.trans...|
|2486714|             GB1|  2014| 25. Matchday|2015-02-10|          31|         148|              3|              2|                 7|                 6|             Anfield|     44577|           Phil Dowd|https://www.trans...|
|2486726|             GB1|  2014| 26. Matchday|2015-02-21|         289|         984|              0|              0|                16|                14|    Stadium of Light|     40943|          Mike Jones|https://www.trans...|
|2475235|             ES1|  2014|  6. Matchday|2014-09-26|        1531|         940|              0|              1|                18|                 6|Manuel Martínez V...|     20852|Pedro Jesús Pérez...|https://www.trans...|
|2475322|             ES1|  2014| 15. Matchday|2014-12-14|         681|         621|              1|              1|                14|                10|              Anoeta|     26651|David Fernández B...|https://www.trans...|
|2475350|             ES1|  2014| 18. Matchday|2015-01-10|        1084|        1050|              1|              1|                 7|                 6|         La Rosaleda|     22077|Santiago Jaime Latre|https://www.trans...|
+-------+----------------+------+-------------+----------+------------+------------+---------------+---------------+------------------+------------------+--------------------+----------+--------------------+--------------------+
only showing top 20 rows

In [27]:
competicion.show()

+--------------+--------------------+------------------+----------+------------+--------------------+-------------+--------------------+
|competition_id|                name|              type|country_id|country_name|domestic_league_code|confederation|                 url|
+--------------+--------------------+------------------+----------+------------+--------------------+-------------+--------------------+
|            L1|          bundesliga|        first_tier|        40|     Germany|                  L1|       europa|https://www.trans...|
|           DFB|           dfb-pokal|      domestic_cup|        40|     Germany|                  L1|       europa|https://www.trans...|
|           DFL|        dfl-supercup|domestic_super_cup|        40|     Germany|                  L1|       europa|https://www.trans...|
|           NL1|          eredivisie|        first_tier|       122| Netherlands|                 NL1|       europa|https://www.trans...|
|           NLP|     toto-knvb-beker|      domestic_cup|       122| Netherlands|                 NL1|       europa|https://www.trans...|
|          NLSC|johan-cruijff-schaal|domestic_super_cup|       122| Netherlands|                 NL1|       europa|https://www.trans...|
|           BE1|  jupiler-pro-league|        first_tier|        19|     Belgium|                 BE1|       europa|https://www.trans...|
|          BESC|    belgian-supercup|domestic_super_cup|        19|     Belgium|                 BE1|       europa|https://www.trans...|
|           ES1|              laliga|        first_tier|       157|       Spain|                 ES1|       europa|https://www.trans...|
|           CDR|        copa-del-rey|      domestic_cup|       157|       Spain|                 ES1|       europa|https://www.trans...|
|           SUC|           supercopa|domestic_super_cup|       157|       Spain|                 ES1|       europa|https://www.trans...|
|           PO1|  liga-portugal-bwin|        first_tier|       136|    Portugal|                 PO1|       europa|https://www.trans...|
|          POCP|         allianz-cup|      domestic_cup|       136|    Portugal|                 PO1|       europa|https://www.trans...|
|          POSU|supertaca-candido...|domestic_super_cup|       136|    Portugal|                 PO1|       europa|https://www.trans...|
|           FR1|             ligue-1|        first_tier|        50|      France|                 FR1|       europa|https://www.trans...|
|          FRCH|trophee-des-champ...|domestic_super_cup|        50|      France|                 FR1|       europa|https://www.trans...|
|           GB1|      premier-league|        first_tier|       189|     England|                 GB1|       europa|https://www.trans...|
|           CGB|             efl-cup|      domestic_cup|       189|     England|                 GB1|       europa|https://www.trans...|
|          GBCS|    community-shield|domestic_super_cup|       189|     England|                 GB1|       europa|https://www.trans...|
|           RU1|        premier-liga|        first_tier|       141|      Russia|                 RU1|       europa|https://www.trans...|
+--------------+--------------------+------------------+----------+------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [28]:
ejercicio3 = juegos.join(competicion,col('competition_id') == col('competition_code'), 'left')

In [29]:
ejercicio3.show()

+-------+----------------+------+-------------+----------+------------+------------+---------------+---------------+------------------+------------------+--------------------+----------+--------------------+--------------------+--------------+--------------------+------------------+----------+------------+--------------------+-------------+--------------------+
|game_id|competition_code|season|        round|      date|home_club_id|away_club_id|home_club_goals|away_club_goals|home_club_position|away_club_position|             stadium|attendance|             referee|                 url|competition_id|                name|              type|country_id|country_name|domestic_league_code|confederation|                 url|
+-------+----------------+------+-------------+----------+------------+------------+---------------+---------------+------------------+------------------+--------------------+----------+--------------------+--------------------+--------------+--------------------+------------------+----------+------------+--------------------+-------------+--------------------+
|2457642|            NLSC|  2014|        Final|2014-08-03|        1269|         610|              1|              0|              null|              null| Johan Cruijff ArenA|     42000|      Danny Makkelie|https://www.trans...|          NLSC|johan-cruijff-schaal|domestic_super_cup|       122| Netherlands|                 NL1|       europa|https://www.trans...|
|2639088|            BESC|  2013|        Final|2014-07-20|          58|         498|              2|              1|              null|              null|Constant Vanden S...|     13733|     Jonathan Lardot|https://www.trans...|          BESC|    belgian-supercup|domestic_super_cup|        19|     Belgium|                 BE1|       europa|https://www.trans...|
|2481145|             SUC|  2014|final 1st leg|2014-08-19|         418|          13|              1|              1|              null|              null|   Santiago Bernabéu|     75897|   Estrada Fernández|https://www.trans...|           SUC|           supercopa|domestic_super_cup|       157|       Spain|                 ES1|       europa|https://www.trans...|
|2484338|            POSU|  2014|        Final|2014-08-10|         294|        2425|              3|              2|              null|              null|Estádio Municipal...|     30000|        Duarte Gomes|https://www.trans...|          POSU|supertaca-candido...|domestic_super_cup|       136|    Portugal|                 PO1|       europa|https://www.trans...|
|2502472|            FRCH|  2014|        Final|2014-08-02|         583|         855|              2|              0|              null|              null|     Workers Stadium|     39752|      Clément Turpin|https://www.trans...|          FRCH|trophee-des-champ...|domestic_super_cup|        50|      France|                 FR1|       europa|https://www.trans...|
|2459774|             NL1|  2014| 21. Matchday|2015-02-05|         610|        1090|              0|              1|                 2|                 5| Johan Cruijff ArenA|     47724|      Pol van Boekel|https://www.trans...|           NL1|          eredivisie|        first_tier|       122| Netherlands|                 NL1|       europa|https://www.trans...|
|2480169|             PO1|  2014| 16. Matchday|2015-01-11|        2425|        1301|              0|              0|                 6|                10|   Estádio dos Arcos|      2230|       Tiago Martins|https://www.trans...|           PO1|  liga-portugal-bwin|        first_tier|       136|    Portugal|                 PO1|       europa|https://www.trans...|
|2490887|             PO1|  2014| 20. Matchday|2015-02-08|        1085|        2990|              0|              0|                14|                16|   Estádio do Bonfim|      3500|     Fábio Veríssimo|https://www.trans...|           PO1|  liga-portugal-bwin|        first_tier|       136|    Portugal|                 PO1|       europa|https://www.trans...|
|2498723|             PO1|  2014| 22. Matchday|2015-02-21|        1085|        3327|              0|              1|                15|                18|   Estádio do Bonfim|      2108|       Rui Rodrigues|https://www.trans...|           PO1|  liga-portugal-bwin|        first_tier|       136|    Portugal|                 PO1|       europa|https://www.trans...|
|2479542|            POCP|  2014|      Group C|2014-08-13|        3345|        4750|              0|              0|              null|              null|      Estádio do Mar|       448|       Jorge Tavares|https://www.trans...|          POCP|         allianz-cup|      domestic_cup|       136|    Portugal|                 PO1|       europa|https://www.trans...|
|2460640|              L1|  2014|  2. Matchday|2014-08-30|          86|         533|              1|              1|                 9|                 3|Wohninvest-Wesers...|     38900|     Robert Hartmann|https://www.trans...|            L1|          bundesliga|        first_tier|        40|     Germany|                  L1|       europa|https://www.trans...|
|2460300|             GB1|  2014|  1. Matchday|2014-08-16|         985|        2288|              1|              2|                15|                 5|        Old Trafford|     75339|           Mike Dean|https://www.trans...|           GB1|      premier-league|        first_tier|       189|     England|                 GB1|       europa|https://www.trans...|
|2486545|             GB1|  2014|  8. Matchday|2014-10-18|         180|         289|              8|              0|                 3|                17|   St Mary's Stadium|     29615|      Andre Marriner|https://www.trans...|           GB1|      premier-league|        first_tier|       189|     England|                 GB1|       europa|https://www.trans...|
|2486598|             GB1|  2014| 13. Matchday|2014-11-30|         148|          29|              2|              1|                 7|                10|     White Hart Lane|     35901|      Michael Oliver|https://www.trans...|           GB1|      premier-league|        first_tier|       189|     England|                 GB1|       europa|https://www.trans...|
|2486692|             GB1|  2014| 23. Matchday|2015-01-31|        3008|         762|              0|              3|                18|                11|        KCOM Stadium|     23925|           Phil Dowd|https://www.trans...|           GB1|      premier-league|        first_tier|       189|     England|                 GB1|       europa|https://www.trans...|
|2486714|             GB1|  2014| 25. Matchday|2015-02-10|          31|         148|              3|              2|                 7|                 6|             Anfield|     44577|           Phil Dowd|https://www.trans...|           GB1|      premier-league|        first_tier|       189|     England|                 GB1|       europa|https://www.trans...|
|2486726|             GB1|  2014| 26. Matchday|2015-02-21|         289|         984|              0|              0|                16|                14|    Stadium of Light|     40943|          Mike Jones|https://www.trans...|           GB1|      premier-league|        first_tier|       189|     England|                 GB1|       europa|https://www.trans...|
|2475235|             ES1|  2014|  6. Matchday|2014-09-26|        1531|         940|              0|              1|                18|                 6|Manuel Martínez V...|     20852|Pedro Jesús Pérez...|https://www.trans...|           ES1|              laliga|        first_tier|       157|       Spain|                 ES1|       europa|https://www.trans...|
|2475322|             ES1|  2014| 15. Matchday|2014-12-14|         681|         621|              1|              1|                14|                10|              Anoeta|     26651|David Fernández B...|https://www.trans...|           ES1|              laliga|        first_tier|       157|       Spain|                 ES1|       europa|https://www.trans...|
|2475350|             ES1|  2014| 18. Matchday|2015-01-10|        1084|        1050|              1|              1|                 7|                 6|         La Rosaleda|     22077|Santiago Jaime Latre|https://www.trans...|           ES1|              laliga|        first_tier|       157|       Spain|                 ES1|       europa|https://www.trans...|
+-------+----------------+------+-------------+----------+------------+------------+---------------+---------------+------------------+------------------+--------------------+----------+--------------------+--------------------+--------------+--------------------+------------------+----------+------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [30]:
ejercicio3.groupBy('name').count().filter(col('name') == 'premier-league').show()

+--------------+-----+
|          name|count|
+--------------+-----+
|premier-league| 1140|
+--------------+-----+

In [31]:
# 4
ejercicio3.groupBy('name').agg(sum('attendance').alias('Asistencia')).orderBy(desc('Asistencia')).show()

+--------------------+-----------+
|                name| Asistencia|
+--------------------+-----------+
|      premier-league|4.1208089E7|
|          bundesliga|3.9450145E7|
|              laliga|3.1520079E7|
|             ligue-1|2.5472908E7|
|             serie-a|2.5208183E7|
|          eredivisie|1.7493449E7|
|uefa-champions-le...| 1.569552E7|
|       europa-league|1.3831335E7|
|        premier-liga|1.0614696E7|
|  liga-portugal-bwin|1.0057034E7|
|  jupiler-pro-league|  8381986.0|
|           super-lig|  7558116.0|
|scottish-premiership|  7325968.0|
|             efl-cup|  5624813.0|
|           dfb-pokal|  5278785.0|
|europa-league-qua...|  5189591.0|
|uefa-champions-le...|  4327316.0|
|         superligaen|  3868520.0|
|        copa-del-rey|  3314038.0|
|      super-league-1|  2775557.0|
+--------------------+-----------+
only showing top 20 rows