<a href="https://colab.research.google.com/github/JhonatanWalterSen/spark-in-colab/blob/main/install/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Descargando e instalando Spark en Colab*


**Recursos**

openjdk-8-jdk-headless -qq > /dev/null

http://apache.osuosl.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz

spark-3.3.1-bin-hadoop3.tgz

SPARK_HOME: "/content/spark-3.3.1-bin-hadoop3"

JAVA_HOME: "/usr/lib/jvm/java-8-openjdk-amd64"

In [1]:
# Instalar Java 8 scas
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# Descargar Spark
!wget -q http://apache.osuosl.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz

In [3]:
# Descomprimir Spart
!tar xf spark-3.3.1-bin-hadoop3.tgz

In [4]:
# Establecer las variables de Entorno
import os 
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [5]:
# Instalar FindSpark en el sistema
!pip install -q findspark

# Verificar la instalación de Spark

In [6]:
#Session de spark
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [7]:
# crear DataFrame
df = spark.createDataFrame([(1,2),(1,2)],['id1','id2']).show()

+---+---+
|id1|id2|
+---+---+
|  1|  2|
|  1|  2|
+---+---+

In [13]:
# Verificar la versión de Spark
spark

# *Crear un RDD*
*Crear un spark Context*

In [8]:
sc = spark.sparkContext

In [10]:
# Crear un RDD vacio
rdd_vacio = sc.emptyRDD

In [12]:
# Crear un RDD con parallelize
rdd_vacio3 = sc.parallelize([],3)
rdd_vacio3.getNumPartitions()

3

In [13]:
# RDD con paralleize con datos
rdd = sc.parallelize([1,2,3,4,5])

In [14]:
rdd

ParallelCollectionRDD[9] at readRDDFromFile at PythonRDD.scala:274

In [15]:
rdd.collect()

[1, 2, 3, 4, 5]

In [16]:
# Crear un RDD desde un archivod e texto
rdd_texto = sc.textFile('./rdd_source.txt')
rdd_texto.collect()

['Así podemos crear', 'un RDD desde un', 'archivo de texto!!!']

In [17]:
# Todo el archivo de texto es un solo registro
rdd_texto_completo = sc.wholeTextFiles('./rdd_source.txt')
rdd_texto_completo.collect()

[('file:/content/rdd_source.txt',
  'Así podemos crear\nun RDD desde un\narchivo de texto!!!')]

In [18]:
# Operaciones con RDD
rdd_suma = rdd.map(lambda x:x+1)
rdd_suma.collect()

[2, 3, 4, 5, 6]

In [20]:
df = spark.createDataFrame([(1,"Jose"),(2,"Juan")],['id','Nombre'])
df.show()

+---+------+
| id|Nombre|
+---+------+
|  1|  Jose|
|  2|  Juan|
+---+------+

In [21]:
rdd_df = df.rdd
rdd_df.collect()

[Row(id=1, Nombre='Jose'), Row(id=2, Nombre='Juan')]